/* General Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #1F083B;
    color: #F3E9FB;
    max-width: 100%;
}

h2 {
    color: #FFDCFF;
    margin-bottom: 20px;
    text-align: center;
    font-size: 2rem;
}

p {
    color: #F3E9FB;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto 20px;
    text-align: center;
}

/* Header Section */
header {
    display: flex;
    flex-direction: row;
    background-color: #280952;
    padding: 15px 30px;
    width: 90%;
    max-width: 1200px;
    border-radius: 60px;
    margin: 0 auto;
    justify-content: space-between;
    align-content: center;
    position: fixed;
    top: 0;
    left: 50%;  
    transform: translateX(-50%); 
    z-index: 1000;
}

/* Logo */
header .logo {
    flex: 1;
    display: flex;
    align-items: center;
}

header .logo img {
    width: 50px;
    height: 35px;
    border-radius: 50%;
}

/* Nav Section */
nav {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    flex: 1;
}

nav ul {
    display: flex;
    gap: 30px;
    margin: 0;
    padding-bottom: 12px;
    margin-right: 25px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #F3E9FB;
}

/* Search Section */
.search {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

.search input {
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: #1F083B;
}


/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 5%;
    background-color: #1F083B;
    position: relative;
}

.hero-content {
    max-width: 50%;
}

.hero-content h1 {
    font-size: 3.5rem;
    color: #FFDCFF;
}

.hero-content span {
    color: #FF7F00; 
}

.hero-content p {
    font-size: 1.2rem;
    margin: 20px 0;
    gap: 10px;
}

/* Typing text loop */
.typing-text::after {
    content: "";
    animation: changeText 15s infinite; 
}

/* @keyframes changeText {
    0%, 20% { content: "Full Stack Website Developer"; }
    25%, 45% { content: "UI & UX Designer"; }
    50%, 70% { content: "Software Engineer"; }
    75%, 95% { content: "Tech Enthusiast"; }
    /* 100% { content: "Full Stack Website Developer"; }  
    100% { content: "Telegram Bot Developer"; } 
} */


.hero-content .btn {
    background-color: #FFDCFF; 
    color: #1F083B;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.hero-content .btn:hover {
    background-color: #FF7F00;
}

.hero-image {
    position: relative;
}

.hero-image img {
    width: 500px;
    border-radius: 50%;
}

/* Social Icons */
.social-icons {
    position: absolute;
    right: 5%; 
    bottom: 20%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.social-icons a {
    display: block;
}

.social-icons a img {
    width: 30px;
    transition: transform 0.3s;
    filter: grayscale(100%);
}

.social-icons a img:hover {
    transform: scale(1.1);
    filter: grayscale(0);
}

/* About Section */
.about {
    padding: 60px 5%;
    background-color: #1F083B;
    text-align: center;
}

/* Skills Section */
.skills-top {
    background-color: #1F083B;
    padding: 60px 5%;
    justify-content: space-between;
    height: auto;
}

.skills-top-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 30px;
    margin-bottom: 30px;
}

.skills-top-inner-grid{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.skills-top-item {
    background-color: #280952;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s, background-color 0.3s;
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skills-top-item img {
    width: 50px;
    margin-bottom: 10px;
}

.skills-top-item p {
    margin: 0;
    font-size: 1rem;
    color: #F3E9FB;
}

.skills-top-item:hover {
    transform: scale(1.1);
    background-color: #550155; 
    color: #1F083B;
}




























.portfolio-section {
    padding: 20px;
    text-align: center;
  }
  
  .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
  }
  
  .carousel {
    display: flex;
    gap: 20px;
    overflow: hidden;
    width: 80%;
  }
  
  .carousel-item {
    background-color: #1E2458;
    border-radius: 10px;
    min-width: 300px;
    max-width: 350px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    padding: 20px;
  }
  
  .carousel-item img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .description {
    padding: 0 10px;
  }
  
  .description h2 {
    font-size: 1.1rem;
    margin-bottom: 10px;
    text-align: left;
  }
  
  .description p {
    font-size: 0.8rem;
    margin-bottom: 20px;
    color: #7d82b0;
    text-align: left;
  }
  
  .button {
    text-decoration: none;
    color: white;
    background-color: #FF7F00;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  


  .button2 {
    margin-top: 30px;
  }

  .button:hover {
    background-color: #FF6200;
  }
  
  .arrow {
    font-size: 2.5rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #FF7F00;
    transition: color 0.3s ease;
  }
  
  .left-arrow {
    left: 20px;
  }
  
  .right-arrow {
    right: 20px;
  }
  
  .arrow:hover {
    color: #FF6200;
  }
  
  .dots-container {
    margin-top: 20px;
  }
  
  .dot {
    height: 12px;
    width: 12px;
    margin: 0 5px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
  }
  
  .dot.active {
    background-color: #FF7F00;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .carousel {
        width: 100%;
        gap: 10px;
    }
  
    .carousel-item {
        min-width: 250px;
    }
  
    .arrow {
        font-size: 2rem;
    }
  
    h1 {
        font-size: 2rem;
    }
  
    p {
        font-size: 1rem;
    }
  
    .button {
        padding: 8px 15px;
    }
  }
  
  @media (max-width: 480px) {
    .carousel {
        flex-direction: column; 
        gap: 30px;
        align-items: center;
    }
  
    .carousel-item {
        min-width: 100%; 
        padding: 15px; 
    }
  
    h1 {
        font-size: 1.8rem;
    }
  
    p {
        font-size: 0.9rem;
    }
  
    .button {
        padding: 6px 12px;
    }
  
    .arrow {
        display: none; 
    }
  }
  













/* Button Style */
.btn {
    background-color: #FF7F00;
    color: #1F083B;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
    background-color: #251025;
    color: #1F083B;
}

/* Experience Section */
.experience {
    padding: 60px 5%;
    background-color: #1F083B; 
    color: #F3E9FB;
}

.experience-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
    position: relative;
    padding-left: 100px; 
}

.experience-item::before {
    content: '';
    position: absolute;
    left: 60px; 
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: #FFDCFF;
}

.experience-item::after {
    content: '';
    position: absolute;
    left: 54px;
    width: 12px;
    height: 12px;
    background-color: #FF7F00;
    border-radius: 50%;
    top: 10px; 
}

.experience-year {
    font-weight: bold;
    color: #FFDCFF;
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    text-align: center;
    font-size: 1.1rem;
}

.experience-details {
    background-color: #280952;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
}

.experience-details h3 {
    margin: 0;
    color: #FFDCFF;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.experience-details h4 {
    margin: 0;
    font-size: 1.2rem;
    color: #FF7F00;
    margin-bottom: 10px;
}

.experience-details p {
    align-content: flex-start;
    margin: 0;
    line-height: 1.6;
    color: #F3E9FB;
    text-align: left;
}























h2 {
    font-size: 2rem;
    margin: 1rem 0;
  }


  .service-offer p {
    font-size: 1rem;
    margin-bottom: 2rem;
    color: #ccc;
  }
  
  /* Slider Section */
  .slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 80%;
    margin: auto;
  }
  
  /* Navigation Arrows */
  .navi {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100px;
    gap: 1rem;
    margin-top: 2rem;
    margin-left: 150px;
  }
  
  .arrow-right-arrow, .arrow-left-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background-color: #FF7F00;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    border: none;
  }
  
  .slides {
    display: flex;
    overflow: hidden;
    width: 100%;
    justify-content: space-between;
  }
  
  .slide {
    display: flex;
    justify-content: space-between;
    min-width: 100%;
    transition: transform 0.5s ease;
  }
  
  .card {
    background-color: #280952;
    padding: 15px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    margin: 0 1rem;
  }
  
  .card img {
    height: 30px;
    width: auto;
  }
  
  .card p {
    font-weight: 400;
    font-size: small;
    color: #d6b8d6;
  }
  

  .icon {
    width: 60px;
    margin-bottom: 1rem;
  }
  
  /* Dots for Slide Navigation */
  .dots {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  
  .dot {
    height: 12px;
    width: 12px;
    margin: 0 5px;
    background-color: #FFDCFF;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
  }
  
  .dot.active {
    background-color: #f7aaf7
  }
  
  /* Media Queries for Mobile Responsiveness */
  @media (max-width: 768px) {
    .slider {
      width: 100%;
    }
  
    .navi {
      margin-left: 0;
      width: auto;
      gap: 0.5rem;
    }
  
    .arrow-right-arrow, .arrow-left-arrow {
      width: 40px;
      height: 40px;
      font-size: 1.25rem;
    }
  
    .slides {
      flex-direction: column;
      width: 100%;
    }
  
    .slide {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-width: 100%;
    }
  
    .card {
      width: 90%;
      margin-bottom: 2rem;
    }
  
    .card img {
      height: 25px;
    }
  
    .card h3 {
      font-size: 1.2rem;
    }
  
    .card p {
      font-size: 0.9rem;
    }
  
    .dots {
      margin-top: 1.5rem;
    }
  }
  
  @media (max-width: 480px) {
    .arrow-right-arrow, .arrow-left-arrow {
      width: 35px;
      height: 35px;
      font-size: 1rem;
    }
  
    .card {
      width: 85%;
      padding: 10px;
    }
  
    .card img {
      height: 20px;
    }
  
    .card h3 {
      font-size: 1rem;
    }
  
    .card p {
      font-size: 0.8rem;
    }
  }

  
  /* Dots for Slide Navigation */
  .dots {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  
  .dot {
    height: 12px;
    width: 12px;
    margin: 0 5px;
    background-color: rgb(157, 119, 37);
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
  }
  
  .dot.active {
    background-color: rgb(222, 192, 23);
  }

   /* Percentage Icons */
   .percentages {
    margin-top: 2rem;
    height: 200px;
    overflow: hidden;
    margin-bottom: 10px;
  }
  
  .percent-container {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    animation: scroll 15s linear infinite; 
    width: max-content;
    margin-left: 15rem;
  }

  .percent-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 150px;
  }

  .percent-icon p {
    color: #35405c;
    font-weight: 500;
  }

/* Scrolling animation */
@keyframes scroll {
  50% {
    transform: translateX(50);
  }
  50% {
    transform: translateX(-50%); 
  }
}















/* Testimonial Section */
.testimonial {
    padding: 60px 5%;
    background-color: #280952;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    height: 100vh;
}

.testimonial-item {
    position: absolute;
    opacity: 0;
    transition: opacity 2s ease-in-out;
    padding: 60px 5%;
    background-color: #280952;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    color: white;
}


.testimonial-item.active {
    opacity: 1;
}

.testimonial-text {
    max-width: 400px;
}

.testimonial-text h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: white;
}

.testimonial-content {
    margin-top: 20px;
}

.image-container img {
    width: 100%;
    height: auto;
}


.line2 {
    background-color: #FFC107;
    width: 80%;
    height: 4px;
    margin: 0 auto 10px; 
    display: block; 
    border-radius: 10px;
}

.line {
    background-color: #FFC107;
    width: 50px;
    height: 4px;
    margin-bottom: 20px;
}

.testimonial-content p {
    color: #ddd;
    line-height: 1.6;
    margin-bottom: 20px;
}

.testimonial-content h3 {
    margin: 0;
    color: #FFC107;
    font-size: 18px;
}

.highlight {
    color: #FFC107;
}

.testimonial-image {
    position: relative;
}

.image-container {
    background-color: #FFC107;
    /* padding: 10px; */
    border-radius: 80%;
    width: 80px;
    height: 80px;
    display: inline-block;
}

.image-container img {
    width: 100px;
    height: auto;
    display: block;
    border-radius: 100%;
}


/* Contact Section */
.contact {
    width: 100%;
    padding: 60px 5%;
    background-color: #1F083B;
    text-align: center;
}

.contact-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    width: 100%;
}

.contact-header h2 {
    color: #F3E9FB;
    margin: 0 20px;
    font-size: 30px;
}

.line {
    width: 35%;
    /* width: 100px; */
    border: 1px solid #F3E9FB;
    border-radius: 10px;
}

.line2 {
    width: 80%;
    border: 1px solid #F3E9FB;
    border-radius: 10px;
    align-content: space-around;
}

.contact-details {
    display: flex;
    justify-content: center;
}

.contact-card {
    background-color: #280952;
    padding: 35px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 600px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.contact-card pp{
    background-color: #431286;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 250px;
    margin-left: 15px;
}

.contact-card2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact-card p {
    display: flex;
    align-items: center;
    margin: 15px 0;
    color: #F3E9FB;
}

.contact-card img {
    width: 25px;
    margin-right: 10px;
}

/* Footer Section */
footer {
    height: 25vh;
    padding: 30px;
    justify-content: center;
    background-color: #280952;
    color: #FFDCFF;
    margin-top: 30px;
    text-align: center;
}

footer p {
    /* margin: 0; */
    font-style: italic;
    font-weight: bold;
    font-size: larger;
    text-align: center;
}

footer .social-icons2 {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

footer .social-icons2 a {
    margin: 0 10px;
    transition: transform 0.3s;
}

footer .social-icons2 img {
    width: 30px;
}

footer .social-icons2 a:hover {
    transform: scale(1.1);
}


@media (max-width: 768px) {
    .testimonial{
        margin-bottom: 40px;
    }
    .image-container {
        align-items: center;
        height: 30px;
        width: 30px;
        background-color: #FFC107;
        padding: 50px;
        border-radius: 100px;
        display: inline-block;
    }
    .image-container img{
        border-radius: 100px;
        margin-left: -30px;
    }

    .experience-item {
        flex-direction: column;
        padding-left: 0;
        align-items: center; 
        margin-bottom: 30px; 
    }

    .experience-details h4 {
        margin-left: 15px;
        text-align: left;
        font-size: smaller;
    }

    .experience-details h3 {
        text-align: left;
        font-size: small;
        margin-left: 15px;
    }

    .experience-details p {
        text-align: left;
        font-size: smaller;
    }

    .experience-item::before {
        left: 0.2px;
        height: 30%;
    }

    .experience-item::after {
        left: 8px;
    }

    .experience-year{
        font-size: small;
    }

    .experience-year {
        left: 10px;
        top: -5px;
    }

    .experience-details {
        margin-top: 20px;
        padding: 15px;
    }

    .experience-details h3 p {
        font-weight: 500;
    }

    .skill{
        max-width: 80%;
    }

    .nav{
        justify-content: space-between;
    }

    .nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    nav ul li a {
        color: #F3E9FB;
    }

    .nav ul li {
        align-self: center;
    }

    .contact-header h2{
    font-size: medium;
    }


    
}

/* .................................... */
/* Mobile Styles */
@media (max-width: 768px) {
    body {
        padding: 10px;
        font-size: 0.9rem;
        max-width: 100%;
    }

    header {
        flex-direction: column;
        padding: 10px;
        border-radius: 50px;
        max-width: 100%;
    }

    .logo img {
        width: 30px;
        height: 30px;
    }

    nav ul {
        flex-direction: column;
        gap: 10px; 
        margin-top: 15px; 
    }

    .hero {
        flex-direction: column;
        padding: 30px 5%;
        text-align: center;
    }

    .hero-content {
        max-width: 100%;
        margin-bottom: 30px;
    }

    .hero-content h1 {
        font-size: 2.5rem;
    }

    .hero-content p {
        font-size: 1rem;
    }

    .hero-image img {
        width: 85%;
        max-width: 300px; 
    }

    .social-icons {
        flex-direction: row;
        bottom: 10%; 
        right: 10%;
    }

    .about,
    .skills-top,
    .portfolio,
    .experience,
    .contact {
        padding: 40px 5%;
        text-align: center;
    }

    .skills-top-grid{
        display: flex;
    }

    .portfolio-grid {
        grid-template-columns: 1fr;
        gap: 20px;
    }

        /* General container styling */
    .skills-top-inner-grid {
        display: flex;
        flex-direction: row;
        overflow: auto; 
        max-width: 90%;
        scroll-behavior: smooth;
    }

    .skills-top-inner-grid::-webkit-scrollbar {
        height: 5px; 
    }

    .skills-top-inner-grid::-webkit-scrollbar-track {
        background-color: #280952;
        border-radius: 10px; 
    }

    .skills-top-inner-grid::-webkit-scrollbar-thumb {
        background-color: #280952;
        border-radius: 10px;
    }

    .skills-top-inner-grid::-webkit-scrollbar-thumb:hover {
        background-color: #1F083B;
    }

    .skills-top-inner-grid {
        scrollbar-width: thin; 
        scrollbar-color: #1F083B #1F083B;
    }


    .skills-top-item{
        height: 50px;
        width: 50px;
        font-size: small;
        font-weight: 100;
    }

    .skills-top-item img {
        height: 30px;
        width: 30px;
    }

    .skills-top-item p {
        font-size: smaller;
    }

    .portfolio-iner-grid {
        flex-direction: column;
        align-items: center;
    }

    .testimonial{
        min-height: 70vh;
    }

    .testimonial-item{
        display: flex;
        flex-direction: column;
        max-height: 50vh;
    }

    .contact-details{
        margin-top: 50px;
        width: 100px;
        width: 100%;
    }

    .contact-card{
        height: 100vh;
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 50px;
    }

    .contact-card2{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100px;
        margin-bottom: 20px;
    }

    .experience-details {
        margin: 20px 0; 
        padding: 15px;
    }

    footer .social-icons2 {
        flex-direction: row; 
        gap: 10px; 
    }

    footer {
        padding: 20px; 
    }
    
    .testimonial {
        flex-direction: column;
        height: auto; 
        padding: 30px 5%; 
    }

    .testimonial-text h2 {
        font-size: 24px;
        position: relative;

    }

    .contact-card {
        width: 100%; 
        height: auto;
        padding: 20px; 
    }

    .contact-card img {
        width: 20px;
    }

    .btn {
        padding: 8px 16px;
        font-size: 0.9rem; 
    }
}
