/* General Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #1F083B;
    color: #F3E9FB;
    max-width: 100%;
}

h2 {
    color: #FFDCFF;
    margin-bottom: 20px;
    text-align: center;
    font-size: 2rem;
}

p {
    color: #F3E9FB;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto 20px;
    text-align: center;
}




/* Header Section */
header {
    display: flex;
    flex-direction: row;
    background-color: #280952;
    padding: 15px 30px;
    width: 95%; 
    max-width: 1200px;
    border-radius: 60px;
    margin: 0 auto;
    justify-content: space-between;
    align-content: center;
}

/* Logo */
header .logo {
    flex: 1;
    display: flex;
    align-items: center;
}

header .logo img {
    width: 50px;
    height: 35px;
    border-radius: 50%;
}

/* Nav Section */
nav {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    flex: 1;
}

nav ul {
    display: flex;
    gap: 30px;
    margin: 0;
    padding-bottom: 12px;
    margin-right: 25px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #F3E9FB;
}

/* Search Section */
.search {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

.search input {
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: #1F083B;
}


/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 5%;
    background-color: #1F083B;
    position: relative;
}

.hero-content {
    max-width: 50%;
}

.hero-content h1 {
    font-size: 3.5rem;
    color: #FFDCFF;
}

.hero-content span {
    color: #FFD700; 
}

.hero-content p {
    font-size: 1.2rem;
    margin: 20px 0;
    gap: 10px;
}

/* Typing text loop */
.typing-text::after {
    content: "Full Stack Website Developer";
    animation: changeText 15s infinite; 
}

@keyframes changeText {
    0%, 20% { content: "Full Stack Website Developer"; }
    25%, 45% { content: "UI & UX Designer"; }
    50%, 70% { content: "Software Engineer"; }
    75%, 95% { content: "Tech Enthusiast"; }
    100% { content: "Full Stack Website Developer"; } 
}


.hero-content .btn {
    background-color: #FFDCFF; 
    color: #1F083B;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.hero-content .btn:hover {
    background-color: #FFD700;
}

.hero-image {
    position: relative;
}

.hero-image img {
    width: 500px;
    border-radius: 50%;
}

/* Social Icons */
.social-icons {
    position: absolute;
    right: 5%; 
    bottom: 20%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.social-icons a {
    display: block;
}

.social-icons a img {
    width: 30px;
    transition: transform 0.3s;
    filter: grayscale(100%);
}

.social-icons a img:hover {
    transform: scale(1.1);
    filter: grayscale(0);
}

/* About Section */
.about {
    padding: 60px 5%;
    background-color: #1F083B;
    text-align: center;
}

/* Skills Section */
.skills-top {
    background-color: #1F083B;
    padding: 60px 5%;
    justify-content: space-between;
    height: auto;
}

.skills-top-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 30px;
    margin-bottom: 30px;
}

.skills-top-inner-grid{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.skills-top-item {
    background-color: #280952;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s, background-color 0.3s;
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skills-top-item img {
    width: 50px;
    margin-bottom: 10px;
}

.skills-top-item p {
    margin: 0;
    font-size: 1rem;
    color: #F3E9FB;
}

.skills-top-item:hover {
    transform: scale(1.1);
    background-color: #550155; 
    color: #1F083B;
}

/* Portfolio Section */
.portfolio {
    padding: 60px 5%;
    background-color: #280952;
    text-align: center;
}

.portfolio-grid {
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-bottom: 40px;
    align-items: center;
}

.portfolio-iner-grid{
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: space-between;
}

.portfolio-item img {
    width: 100%;
    height: 150px;
    border-radius: 10px;
    transition: transform 0.3s;
}

.portfolio-item img:hover {
    transform: scale(1.05);
}

/* Button Style */
.btn {
    background-color: #FFD700;
    color: #1F083B;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
    background-color: #251025;
    color: #1F083B;
}

/* Experience Section */
.experience {
    padding: 60px 5%;
    background-color: #1F083B; 
    color: #F3E9FB;
}

.experience-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
    position: relative;
    padding-left: 100px; 
}

.experience-item::before {
    content: '';
    position: absolute;
    left: 60px; 
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: #FFDCFF;
}

.experience-item::after {
    content: '';
    position: absolute;
    left: 54px;
    width: 12px;
    height: 12px;
    background-color: #FFD700;
    border-radius: 50%;
    top: 10px; 
}

.experience-year {
    font-weight: bold;
    color: #FFDCFF;
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    text-align: center;
    font-size: 1.1rem;
}

.experience-details {
    background-color: #280952;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
}

.experience-details h3 {
    margin: 0;
    color: #FFDCFF;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.experience-details h4 {
    margin: 0;
    font-size: 1.2rem;
    color: #FFD700;
    margin-bottom: 10px;
}

.experience-details p {
    margin: 0;
    line-height: 1.6;
    color: #F3E9FB;
}


/* Skills Perfection */
.skills {
    background-color: transparent;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 40px 20px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    color: white;
    margin-bottom: 35px;
}

.skill {
    margin-bottom: 20px;
}

.skill-title {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    margin-bottom: 10px;
    color: white;
}

.progress-bar {
    width: 100%;
    background-color: #222; 
    height: 8px; 
    border-radius: 5px; 
    overflow: hidden;
    position: relative;
}

.progress-fill {
    height: 100%;
    background-color: #e91e63;
    width: 0; 
    transition: width 1s ease-in-out; 
    border-radius: 5px; 
}

/* Testimonial Section */
.testimonial {
    padding: 60px 5%;
    background-color: #280952;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    height: 100vh;
}

.testimonial-item {
    position: absolute;
    opacity: 0;
    transition: opacity 2s ease-in-out;
    padding: 60px 5%;
    background-color: #280952;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    color: white;
}


.testimonial-item.active {
    opacity: 1;
}

.testimonial-text {
    max-width: 400px;
}

.testimonial-text h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: white;
}

.testimonial-content {
    margin-top: 20px;
}

.image-container img {
    width: 100%;
    height: auto;
}


.line2 {
    background-color: #FFC107;
    width: 80%;
    height: 4px;
    margin: 0 auto 10px; 
    display: block; 
    border-radius: 10px;
}

.line {
    background-color: #FFC107;
    width: 50px;
    height: 4px;
    margin-bottom: 20px;
}

.testimonial-content p {
    color: #ddd;
    line-height: 1.6;
    margin-bottom: 20px;
}

.testimonial-content h3 {
    margin: 0;
    color: #FFC107;
    font-size: 18px;
}

.highlight {
    color: #FFC107;
}

.testimonial-image {
    position: relative;
}

.image-container {
    background-color: #FFC107;
    /* padding: 10px; */
    border-radius: 80%;
    width: 80px;
    height: 80px;
    display: inline-block;
}

.image-container img {
    width: 100px;
    height: auto;
    display: block;
    border-radius: 100%;
}


/* Contact Section */
.contact {
    width: 80%;
    padding: 60px 5%;
    background-color: #1F083B;
    text-align: center;
}

.contact-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    width: 100%;
}

.contact-header h2 {
    color: #F3E9FB;
    margin: 0 20px;
    font-size: 30px;
}

.line {
    width: 35%;
    /* width: 100px; */
    border: 1px solid #F3E9FB;
    border-radius: 10px;
}

.line2 {
    width: 80%;
    border: 1px solid #F3E9FB;
    border-radius: 10px;
    align-content: space-around;
}

.contact-details {
    display: flex;
    justify-content: center;
}

.contact-card {
    background-color: #280952;
    padding: 35px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 600px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.contact-card pp{
    background-color: #431286;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 250px;
    margin-left: 15px;
}

.contact-card2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact-card p {
    display: flex;
    align-items: center;
    margin: 15px 0;
    color: #F3E9FB;
}

.contact-card img {
    width: 25px;
    margin-right: 10px;
}

/* Footer Section */
footer {
    padding: 30px;
    justify-content: center;
    background-color: #280952;
    color: #FFDCFF;
    margin-top: 30px;
}

footer p {
    margin: 0;
    font-style: italic;
    align-self: center;
}

footer .social-icons2 {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

footer .social-icons2 a {
    margin: 0 10px;
    transition: transform 0.3s;
}

footer .social-icons2 img {
    width: 30px;
}

footer .social-icons2 a:hover {
    transform: scale(1.1);
}


@media (max-width: 768px) {
    .testimonial{
        margin-bottom: 40px;
    }
    .image-container {
        align-items: center;
        height: 30px;
        width: 30px;
        background-color: #FFC107;
        padding: 50px;
        border-radius: 100px;
        display: inline-block;
    }
    .image-container img{
        border-radius: 100px;
        margin-left: -30px;
    }

    .experience-item {
        flex-direction: column;
        padding-left: 0;
    }

    .experience-item::before {
        left: 20px;
    }

    .experience-item::after {
        left: 14px;
    }

    .experience-year {
        left: 10px;
        top: -5px;
    }

    .experience-details {
        margin-top: 20px;
        padding: 15px;
    }

    .experience-details h3 p {
        font-weight: 500;
    }

    .skill{
        max-width: 80%;
    }

    .nav{
        justify-content: space-between;
    }

    .nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    nav ul li a {
        color: #F3E9FB;
    }

    .nav ul li {
        align-self: center;
    }

    .contact-header h2{
    font-size: medium;
    }
    
}

/* .................................... */
/* Mobile Styles */
@media (max-width: 768px) {
    body {
        padding: 10px;
        font-size: 0.9rem;
        max-width: 100%;
    }

    header {
        flex-direction: column;
        padding: 10px;
        border-radius: 50px;
        max-width: 100%;
    }

    .logo img {
        width: 30px;
        height: 30px;
    }

    nav ul {
        flex-direction: column;
        gap: 10px; 
        margin-top: 15px; 
    }

    .hero {
        flex-direction: column;
        padding: 30px 5%;
        text-align: center;
    }

    .hero-content {
        max-width: 100%;
        margin-bottom: 30px;
    }

    .hero-content h1 {
        font-size: 2.5rem;
    }

    .hero-content p {
        font-size: 1rem;
    }

    .hero-image img {
        width: 85%;
        max-width: 300px; 
    }

    .social-icons {
        flex-direction: row;
        bottom: 10%; 
        right: 10%;
    }

    .about,
    .skills-top,
    .portfolio,
    .experience,
    .contact {
        padding: 40px 5%;
        text-align: center;
    }

    .skills-top-grid{
        display: flex;
    }

    .portfolio-grid {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .skills-top-inner-grid{
        display: flex;
        flex-direction: row;
        overflow: scroll;
        max-width: 90%;
    }

    .skills-top-item{
        height: 50px;
        width: 50px;
        font-size: small;
        font-weight: 100;
    }

    .skills-top-item img {
        height: 30px;
        width: 30px;
    }

    .skills-top-item p {
        font-size: smaller;
    }

    .portfolio-iner-grid {
        flex-direction: column;
        align-items: center;
    }

    .testimonial{
        min-height: 70vh;
    }

    .testimonial-item{
        display: flex;
        flex-direction: column;
        max-height: 50vh;
    }

    .contact-details{
        margin-top: 50px;
        width: 100px;
        width: 100%;
    }

    .contact-card{
        height: 100vh;
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 50px;
    }

    .contact-card2{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100px;
        margin-bottom: 20px;
    }

    .experience-item {
        flex-direction: column;
        padding-left: 0;
        align-items: center; 
        margin-bottom: 30px; 
    }

    .experience-details {
        margin: 20px 0; 
        padding: 15px;
    }

    footer .social-icons2 {
        flex-direction: row; 
        gap: 10px; 
    }

    footer {
        padding: 20px; 
    }
    
    .testimonial {
        flex-direction: column;
        height: auto; 
        padding: 30px 5%; 
    }

    .testimonial-text h2 {
        font-size: 24px;
        position: relative;

    }

    .contact-card {
        width: 100%; 
        height: auto;
        padding: 20px; 
    }

    .contact-card img {
        width: 20px;
    }

    .btn {
        padding: 8px 16px;
        font-size: 0.9rem; 
    }
}
