<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enoch's Recents Completed Jobs</title>
    <link rel="stylesheet" href="Portfolio.css">
    <link rel="icon" href="./icon/favicon.png" type="image/png">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">

</head>








<body>



    <!-- Header Section -->
    <header>
        <nav class="nav">
            <div class="logo">
                <img src="./icon/logo.png" alt="Logo">
            </div>
            <ul>
                <li><a href="../index.html">About</a></li>
                <li><a href="#Portfolio">Portfolio</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
            <div class="search">
                <input type="text" placeholder="Search">
            </div>
        </nav>
    </header>



    <div class="portfolio-section" id="Portfolio">
        <h1>Our Portfolio</h1>
        <p>Here are some of my completed projects for my client around the Globe 🌐</p>
        
        <div class="carousel-container">

            <!-- Carousel content -->
            <div class="carousel" id="carousel">
                <div class="carousel-item">
                    <img src="../photo/Screenshot1.png" alt="Project 1">
                    <div class="description">
                        <h2>Medica Website</h2>
                        <p>
                            Medica is a comprehensive healthcare platform offering virtual assistant support, virtual clinics, and easy access to clinical results. Patients can book appointments with experienced practitioners and manage their health with ease.
                        </p>
                        <a href="https://github.com/PrinceKes/Medical-Website-Template" class="button">Open On GitHub</a>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="../photo/Screenshot3.png" alt="Project 2">
                    <div class="description">
                        <h2>Togthr</h2>
                        <p>
                            Togthr is an innovative platform that brings virtual reality experiences to life. By blending technology and imagination, users can immerse themselves in a new dimension, making creativity a hands-on reality.
                        </p>
                        <a href="https://github.com/PrinceKes/Togthr-Template-9-" class="button">Open On GitHub</a>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="../photo/Screenshot2.png" alt="Project 3">
                    <div class="description">
                        <h2>Planical Website</h2>
                        <p>
                            Planical is a modern platform designed to simplify booking doctor appointments. The user-friendly interface allows patients to easily schedule consultations, view doctor profiles, and receive reminders, enhancing the healthcare experience.
                        </p>
                        <a href="https://github.com/PrinceKes/Planical-modern---Template" class="button">Open On GitHub</a>
                    </div>
                </div>
            </div>

        </div>

        <div class="carousel-container">

            <!-- Carousel content -->
            <div class="carousel" id="carousel">
                <div class="carousel-item">
                    <img src="../photo/Screenshot4.png" alt="Project 1">
                    <div class="description">
                        <h2>Opening Live</h2>
                        <p>
                           'Updating...'
                        </p>
                        <a href="https://github.com" class="button">Open On Live</a>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="../photo/Screenshot5.png" alt="Project 2">
                    <div class="description">
                        <h2>Optimal</h2>
                        <p>
                            'Updating...'
                        </p>
                        <a href="https://github.com" class="button">Open On live</a>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="../photo/Screenshot6.png" alt="Project 3">
                    <div class="description">
                        <h2>Women Rise</h2>
                        <p>
                            'Updating...'
                        </p>
                        <a href="https://github.com" class="button">Open On Live</a>
                    </div>
                </div>
            </div>

        </div>

    </div>


    <!-- Contact Section -->
<section class="contact" id="contact">
    <div class="contact-header">
        <hr class="line">
        <h2>Contact Me</h2>
        <hr class="line">
    </div>
    <div class="contact-details">
        <div class="contact-card">
            <div class="contact-card2">
                <pp>
                    <a href="mailto:strongnationdev@gmail.com ?subject={name}%20Requesting%20for%20Telegram%20Bot%20Development%20Service">
                      <img src="./icon/mail.png" alt="Email Icon">
                    </a>
                    Send Mail
                  </pp>
                <pp><a href="https://calendly.com/enochprecious/30min"><img src="./icon/google-calendar.png" alt="calendly"></a> Schedule A Meeting</pp>
            </div>
            <!-- <pp><img src="./icon/pacific.png" alt="Location"> Toledo, United States</pp> -->
        </div>
    </div>
    
</section>
<hr class="line2">
    <!-- Footer Section -->
<footer>
    <p>You Have A Project In Mind? <br> “Let's Get To Work On It.🛠️🤝”</p>
    <div class="social-icons2">
        <a href="https://https://discord.com/invite/xvgPwVHN"><img src="./icon/discord.jpg" alt="Discord"></a>
        <a href="https://calendly.com/princeade5565/30min"><img src="./icon/google-calendar.png" alt="calendly"></a>
        <a href="https://LinkedIn.com/StrongNation-Dev"><img src="./icon/social1.png" alt="LinkedIn"></a>
        <a href="https://wa.link/cagb3n"><img src="./icon/whatsapp.png" alt="WhatsApp"></a>
        <a href="https://https://x.com/StrongNationDev?s=09"><img src="./icon/x.jpg" alt="X"></a>
    </div>
</footer>
    <script src="script.js"></script>
</body>
</html>
